body {
  background-color: #edeeee;
}

/* VISIBILITY */
.hide {
  visibility: hidden;
}

/* titles */
.title {
  border-left: solid 5px rgb(255, 251, 0);
  padding-left: 10px;
  border-radius: 5px;
}

/* NAVBAR */
.navbar {
  z-index: 10;
  background-color: #021d3d;
  border: none;
}
.nav--brand {
  font-size: 30px;
  background: linear-gradient(to right, #6c5ce7, #0984e3, #00d2d3, #00d1b2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.nav-link {
  font-weight: bold;
  color: white;
  margin-right: 20px;
  height: 35px;
  box-sizing: border-box;
  line-height: 16px;
}
.nav-link:hover {
  color: white;
}

.nav-link-active {
  border-bottom: solid 3px rgb(253, 250, 76);
}
.nav--input {
  max-width: 400px;
  min-width: 40%;
}
.nav--account {
  background-color: #0275d8;
}
.nav--account:hover {
  background-color: #228ce9;
}
.search--btn {
  cursor: pointer;
}
.container--realtime_results {
  z-index: 12;
  background-color: #ffffff;
  min-width: 850px;
  padding: 15px;
}
.realtime_images {
  width: 60px;
}
.title--realtime_results {
  border-left: solid 3px rgb(255, 251, 0);
  padding-left: 7px;
}
.row--realtime_results {
  cursor: pointer;
}
.row--realtime_results:hover {
  background-color: rgb(235, 235, 235);
}

/* HOME */

/* JOIN TODAY */
.container--join_today {
  background-image: url("../images/joinNow-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s;
}
/* CAROUSEL */
.carousel {
  transition: 0.5s;
  z-index: 5;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.7);
}
.carousel-item {
  height: 350px;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel--shape {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: max-content;
  max-width: 400px;
  height: 50px;
  transform: skewX(25deg);
  background: #555;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.carousel--shape_text {
  transform: skewX(-25deg);
  color: white;
}
/* PAGE--FLOW--BACKGROUND */
.page--flow_background {
  top: 0;
  left: 0;
  z-index: 1;
  background-attachment: fixed;
  background-size: cover;
}
/* POPULAR MOVIES */
.container--home_movies {
  transition: 0.5s;
  margin: 20px;
  /* background-attachment: fixed; */
}
.container--movies_cards {
  overflow-y: hidden;
  transition: 0.5s;
}
.direction--button {
  background-color: #ffffff;
  color: #000000;
  font-size: 23px;
  border: none;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  top: 25%;
}
.direction--button:hover {
  width: 48px;
  /* font-size: 18px; */
  transition: 0.23s;
}
.direction--button_right {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.direction--button_left {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.direction--image {
  width: 50px;
}

.card--movie {
  position: relative;
  width: 165px;
  flex-shrink: 0;
  transition: 0.5s;
}
.card--score {
  position: absolute;
  /* border: white 1px solid; */
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
  left: 5%;
  bottom: -5%;
}

.card-img {
  cursor: pointer;
}
.card-title {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}
.card-title:hover {
  color: #0275d8;
}
.card-text {
  font-size: 15px;
}
/* MODAL */
.modal--link {
  cursor: pointer;
}

/* MOVIE OVERVIEW */
.container--movie_overview {
  transition: 0.5s;
  background-image: url("../images/test.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}
.title--year {
  color: rgb(175, 174, 174);
}
.title--movie:hover {
  color: rgb(168, 177, 255);
  cursor: pointer;
}
.img--rating_star {
  display: inline-block;
  width: 15px;
  margin-bottom: 4px;
}
.btn--overview {
  background-color: #01233fad;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.btn--overview_true {
  width: 14px;
}
/* ACTORS */
.container--actors_cards {
  overflow-y: hidden;
}
.card--actor {
  width: 165px;
}

/* SIMILAR MOVIES and reviews*/

.container--reviews {
  color: #bebeda;
  margin: 20px;
  background-image: url("../images/reviews.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.review--avatar {
  background-color: purple;
  color: white;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container--cards {
  margin: 10px;
}
.container--similar_movies_cards {
  transition: 0.5s;
  /* overflow-x: auto; */
  overflow-y: hidden;
}
/* .card--similar_movies {
  flex-shrink: 0;
  width: 150px;
  border: none;
} */
.card--similar_movies_title {
  font-size: 13px;
}
.card--similar_movies_text {
  font-size: 13px;
}

.btn--more_reviews {
  cursor: pointer;
}
/* REVIEWS */
.container--reviews {
  min-height: 500px;
}
.reviews--review_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* MOVIES */

.container--filter_buttons {
  position: fixed;
}
.button--filter_genres {
  color: white !important;
  border: none !important;
}
.button--filter_genres {
  color: white;
}
.accordion {
  /* max-width: 200px; */
  min-width: 120px;
  border-radius: 5px;
}
.accordion-body {
  font-size: 13px;
  cursor: pointer;
}
.accordion-body:hover {
  background-color: #faf8f8;
}
.accordion-body:checked {
  background-color: #0275d8;
}
.btn--upcoming {
  cursor: pointer;
}
.filter_category {
  color: #0000ee;
  text-decoration: underline;
  cursor: pointer;
  width: max-content;
  margin: 0;
}
.filter_category:hover {
  color: #08088d;
}
/* TV SHOWS */
.container--spinner_tvshows {
  min-height: 300px;
}

.image--tvshow_popular {
  align-self: flex-start;
  cursor: pointer;
  max-width: 120px;
  min-width: 50px;
}
.title--tvshow:hover {
  color: #0275d8;
  cursor: pointer;
}
.image--tvshow_top_rated {
  cursor: pointer;
  align-self: flex-start;
  max-width: 100px;
  min-width: 50px;
  margin-bottom: 10px;
}
.tvshow-score {
  max-width: 50px;
  max-height: 50px;
}
.row--top_rated {
  transition: 0.5s;
}
.row--popular {
  transition: 0.5s;
}
/* TV SHOW OVERVIEW */
.container--tvshow_overview {
  background-image: url("../images/TvShowOverview-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
}
.image--tv_overview {
  align-self: flex-start;
  max-width: 300px;
  min-width: 150px;
}
/* SEARCH RESULTS */
.container--show_results {
  min-height: 400px;
}
.search--title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.search--img {
  align-self: flex-start;
  min-width: 60px;
  max-width: 80px;
  margin-bottom: 10px;
}
/* PROFILE */
.profile--info {
  background-image: url("../images/favourites-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.profile--list_container {
  min-height: 350px;
}
.profile--icon {
  font-size: 50px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #0275d8;
}
.profile--due_date {
  color: #9fa6ce;
}
.profile--filter {
  cursor: pointer;
}
.profile--active_filter {
  border-bottom: solid blue 3px;
}
.profile--filter_image {
  align-self: flex-start;
  min-width: 100px;
  max-width: 200px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* FOOTER */
.footer {
  /* background-color: #123553; */
  background-image: linear-gradient(to bottom, #0a1d2e, #123553);
}

.footer--navigation {
  list-style: none;
  padding: 0;
}

.footer--navigation_link {
  cursor: pointer;
  width: max-content;
}

.footer--navigation_link:hover {
  color: #c2c3d4;
}
.footer--icon {
  width: 14px;
}
.footer--copyright {
  color: #0275d8;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(185, 185, 185);
  border-radius: 10px;
}
